[heartbeat]
bind_port = {{ monasca_monitor_bind_port }}
bind_host = {{ monasca_monitor_bind_host }}

[keystone_auth]
auth_url = {{ monasca_monitor_auth_url }}
user_domain_name = {{ monasca_monitor_user_domain_name}}
user_domain_id = {{ monasca_monitor_user_domain_id }}
project_name = {{ monasca_monitor_project_name }}
project_domain_name = {{ monasca_monitor_project_domain_name }}
project_id = {{ monasca_monitor_project_id }}
password = {{ monasca_monitor_password }}
username = {{ monasca_monitor_username }}
auth_type = {{ monasca_monitor_auth_type }}
region_name = {{ monasca_monitor_region_name }}
